<h1>Hi {{ customer.firstName }} {{ customer.lastName }}</h1>
<h3>
   You have succefully paid the amount of {{ invoice.amount }} {{ invoice.currency }} to {{ company.name }}.
</h3>
<p>
    <a href="#">More Details about the invoice</a>
</p>


