<h1>Hi {{ customer.firstName }} {{ customer.lastName }}</h1>
<h3>
    The {{ company.name }} as sent you an Invoice with the amount of {{ invoice.amount }} {{ invoice.currency }} to pay due until {{ invoice.dueAt }}
</h3>
<p>
    <a href="#">More Details about the invoice</a>
</p>


